.address-book-form {
    overflow: hidden;
    background: white;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px;
    h1 {
        margin-bottom: 15px;
    }
}
.address-book-wrapper {
    display: flex;
    justify-content: space-between;
    @include breakpoint-down(medium) {
        flex-wrap: wrap;
    }
    @include breakpoint-down(small) {
        margin: auto;
    }
}
.address-book-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 50px;
    @include breakpoint-down(medium) {
        margin-right: 0;
    }
    input {
        margin-bottom: 15px;
        margin-right: 15px;
        padding: 7px;
        border-radius: 5px;
        border: solid 1px $darlgrey;
    }
    .address-book-searchBtn {
        background: $blue;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        &:hover {
            background: $orange;
            cursor: pointer;
        }
    }
    select {
        border: solid 1px $darlgrey;
        height: 360px;
        width: 500px;
        &::-webkit-scrollbar {
            border: none;
        }
        &::-webkit-scrollbar-thumb {
            background: $orange;
        }
        option {
            padding: 5px;
            color: $darlgrey;
            font-size: 18px;
            cursor: pointer;
            &:hover {
                background: grey;
            }
        }

        @include breakpoint-down(medium) {
            width: 100%;
        }
        @include breakpoint-down(small) {
            height: 50px;
        }
    }
}
.address-book-right {
    width: 100%;
    padding: 15px;
    @include breakpoint-down(medium) {
        margin-top: 30px;
    }
}
.address-book-right-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.address-book-right-top {
    display: flex;
    flex-direction: column;
    input {
        margin-bottom: 15px;
        margin-right: 15px;
        padding: 7px;
        border-radius: 5px;
        border: solid 1px $darlgrey;
        @include breakpoint-down(medium) {
            min-width: 260px;
        }
    }
}
.address-book-right-bot {
    display: flex;
    flex-direction: column;
    input,
    select {
        margin-bottom: 15px;
        margin-right: 15px;
        padding: 7px;
        border-radius: 5px;
        border: solid 1px $darlgrey;
        @include breakpoint-down(medium) {
            min-width: 260px;
        }
    }
}
.address-book-update {
    margin-top: 15px;
    background: $blue;
    color: white;
    border: none !important;
    border-radius: 5px;
    font-size: 16px;
    &:hover {
        background: $orange;
        cursor: pointer;
        border-radius: 5px;
    }
}
