.booking-wrapper {
    background: white;
    color: $darlgrey;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 15px;
}

.booking-form-top {
    label {
        font-size: 24px;
    }
}
.booking-form-top-top {
    background: lightgray;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sender-select {
        width: 70%;
    }
    select {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 7px;
    }
    button {
        align-self: flex-end;
        width: 25%;
        height: 100%;
        cursor: pointer;
        background: $blue;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 7px;
        font-size: 20px;
        @include breakpoint-down(small) {
            font-size: 14px;
        }
        &:hover {
            background: $orange;
        }
    }
}
.booking-form-top-bot {
    background: lightgray;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    input {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 7px;
        width: 300px;
    }
    @include breakpoint-down(small) {
        flex-direction: column;
        input {
            margin-bottom: 15px;
        }
    }
}
.booking-form-bot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    label {
        font-size: 24px;
        margin-top: 15px;
    }
    input {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 7px;
        width: 300px;
        margin-bottom: 5px;
    }
    select {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 7px;
        width: 300px;
        margin-bottom: 5px;
    }
}
.submit-button {
    background: $blue;
    color: white;
    padding: 7px;
    font-size: 20px;
    @include breakpoint-down(small) {
        font-size: 14px;
    }
    &:hover {
        background: $orange;
    }
}
.booking-form-bot-left {
    padding: 15px;
    display: flex;
    flex-direction: column;

    #saveAddress {
        width: 10px;
    }
}
.booking-form-bot-right {
    padding: 15px;
    display: flex;
    flex-direction: column;

    #saveAddress {
        width: 10px;
    }
}
.packing-info {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    img {
        width: 50%;
        @include breakpoint-down(medium) {
            display: none;
        }
    }
}
.bookin-form-bot-package-info {
    @include breakpoint-down(medium) {
        width: 100%;
    }
    width: 50%;
    h1 {
        text-align: center;
        margin-bottom: 15px;
    }
    .test {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    label {
        font-size: 24px;
    }
    input {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 7px;
        width: 100%;
        margin-bottom: 15px;
        margin-right: 5px;
        @include breakpoint-down(medium) {
            width: 100%;
        }
    }
}
