.login {
    width: 100%;
    padding: 15px;
    height: 80vh;
}
.login-bg {
    z-index: -10;
    position: absolute;
    transform: translateY(15px);
    opacity: 0.2;
    padding: 0;
    img {
        height: 450px;
        @include breakpoint-down(medium) {
            display: none;
        }
    }
}

.login-form {
    background: white;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    margin-top: 105px;
    input {
        margin-bottom: 15px;
        padding: 5px;
        font-size: $font-reg;
    }
    a {
        float: right;
        color: $orange;
        &:hover {
            color: $blue;
        }
    }
}
.loign-button {
    color: white;
    padding: 7px;
    background: $blue;
    border: none;
    &:hover {
        cursor: pointer;
        background: $darkblue;
    }
}
.signup-button {
    text-align: center;
    font-size: 18px;
    padding: 7px;
    background: $orange;
    color: white !important;
    border: none;
    &:hover {
        cursor: pointer;
        background: $darkblue;
    }
}
.login-form-bot {
    margin-top: 7px;
}
