.test-head {
    width: 100%;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    ul {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        li a {
            padding: 15px;
            font-size: 24px;
            display: inline-block;
            color: $darlgrey;
            transition: ease-in 0.15s;
            &:hover {
                color: $orange;
            }
        }
    }
}
.test-cont-drop {
    display: none;
    width: 80%;
    background: white;
    color: $darlgrey;
    padding: 15px;
    ul {
        display: flex;
        justify-content: space-between;
    }
}
