//colors
$grey: #707070;
$lightgrey: #f1f1f2;
$darlgrey: #35323e;
$orange: #eb7828;
$blue: #1c74a4;
$darkblue: #0f3950;

//font sizes

$font-xsm: 12px;
$font-sm: 15px;
$font-reg: 18px;
$font-regl: 20px;
$font-med: 24px;
$font-lar: 30px;
$font-xlar: 50px;

// font weight
$fontw-lig: 300;
$fontw-reg: 400;
$fontw-med: 500;
$fontw-bol: 700;
